<div class="list-inline" >
  <%= link_to 'View on TP3', "https://escalationstesting.tpondemand.com", class: 'btn btn-info btn-xs pull-right', :target => '_blank' %>
  <%= link_to 'New Case Set', new_case_set_path, class: 'btn btn-primary btn-xs pull-right', style: 'margin-right: 5px' %>
  <h3>Case Sets</h3>
</div>
<div class="row">
  <table class="table">
    <tr>
      <th>Case_Set #</th>
      <th>Date Generated</th>
      <th># of Cases</th>
    </tr>
    <% @case_sets.each do |case_set| %>
      <tr> 
        <th><%= case_set.id %></th>
        <th><%= case_set.created_at %></th>
        <th><%= link_to case_set.cases.size, case_set_path(case_set.id) %></th>
      </tr>
    <% end %>
 </table>
</div>
