<div class="list-inline" >
  <%= link_to 'Cancel', root_path, class: 'btn btn-warning btn-xs pull-right' %>
  <%= button_to 'Push to TP3', case_sets_path, :method => :post, class: 'btn btn-success btn-xs pull-right', style: 'margin-right: 5px' %>
  <h3>Escalation's Current Cases</h3>
</div>
<div class="row">
  <table class="table">
    <tr>
      <th>Case #</th>
      <th>Description</th>
      <th>Owner</th>
    </tr>
    <% @cases.each do |case_obj| %>
      <tr>
        <th><%= link_to case_obj["CaseNumber"], "https://meraki.my.salesforce.com/" + case_obj["Id"] %></th>
        <th><%= case_obj["Subject"] %></th>
        <th><%= case_obj["Owner"]["Name"] %></th>
      </tr>
    <% end %>
 </table>
</div>
